
#wrapper 
{background-color: bisque}
h1 {text-align: cente; background-color: bisque; 
                        } 
h2 {text-align: center; background-color: bisque;        
                        }
h3 {text-align: left; background-color: bisque; 
                        }
h4 {background-color: bisque; 
                        }
h5 {background-color: antiquewhite;
                        }

